li {
  list-style: none;
}

p {
  margin: 0;
  font-size: 20px;
}

.projects {
  margin-top: 36px;
  width: 47%;
}

.projectsHeading {
  margin: 0;
  border: 1px solid black;
  padding: 5px 0 5px 15px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
}

.container {
  padding: 0 15px 0 15px;
}

.checkbox {
  all: unset;
  width: 16px;
  height: 16px;
  cursor: pointer;
  accent-color: black;
  margin-right: 12px;
  border: 1px solid black;
  border-radius: 0;
}

.checkbox:checked {
  background-color: black;
  border-color: black;
  color: white;
}

.projectCheckbox {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.projectTitle {
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
}

.projectDueDate {
  margin-top: 25px;
  font-weight: 600;
}

.projectDescription {
  margin-top: 8px;
  font-weight: 300;
}
