.projectContaier {
  margin-top: 23px;
}

.checkbox {
  all: unset;
  width: 16px;
  height: 16px;
  cursor: pointer;
  accent-color: black;
  margin-right: 12px;
  border: 1px solid black;
  border-radius: 0;
}

.checkbox:checked {
  border-color: black;
  color: white;
  position: relative;
}

.checkbox:checked::before {
  content: "X";
  color: black;
  font-size: 20px;
  position: absolute;
  left: 2px;
  top: -4px;
}

.project {
  display: flex;
  align-items: center;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.projectTitle {
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
}

.lineThrough {
  text-decoration: line-through;
}

.collapseButton {
  all: unset;
  font-size: 16px;
  cursor: pointer;
}

.buttons {
  text-align: right;
}

.projectDueDate {
  margin-top: 25px;
  font-weight: 600;
}

.projectDescription {
  margin-top: 8px;
  font-weight: 300;
}

.tasks {
  padding-left: 16px;
}

.breakline {
  border: 0.5px solid;
  margin-top: 15px;
}
