.project {
  font-size: 20px;
  border-bottom: 1px solid black;
  padding: 23px 0 15px 0;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.projectTitleContainer {
  width: 100%;
}

.projectTitle {
  text-transform: uppercase;
}

.lineThrough {
  text-decoration: line-through;
}

.buttons {
  margin: 0;
  margin-top: 7px;
  text-align: right;
}

.projectDuedate {
  font-weight: 500;
  margin: 25px 0 8px 0;
}

.projectDesc {
  font-weight: 300;
  margin: 0;
}

.inputTitle {
  font-family: "Cormorant Garamond", serif;
  border-radius: 0;
  border: 1px solid black;
  padding: 5px;
  box-sizing: border-box;
  font-size: 16px;
  text-transform: uppercase;
  resize: none;
  width: 90%;
}

.inputDate {
  font-family: "Cormorant Garamond", serif;
  border-radius: 0;
  border: 1px solid black;
  padding: 5px;
  box-sizing: border-box;
  font-size: 16px;
  resize: none;
  width: 75%;
}

.textarea {
  font-family: "Cormorant Garamond", serif;
  border-radius: 0;
  border: 1px solid black;
  height: 89px;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  font-size: 16px;
  resize: none;
}

.collapseButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.collapseIcon {
  width: 20px;
  height: 20px;
}
