.container {
  padding: 25px 15px 0 15px;
}

.taskContainer {
  padding-right: 30px;
}

.task {
  margin: 8px 0 8px 0;
  display: flex;
  justify-content: space-between;
}

.label {
  font-size: 18px;
  margin-left: 6px;
}

.lowercase {
  text-transform: lowercase;
}
