.newProject {
  margin-top: 36px;
  width: 47%;
}

.container {
  padding: 0 15px 40px 15px;
  border-bottom: 1px solid black;
}

.heading {
  margin: 0;
  border: 1px solid black;
  padding: 5px 0 5px 15px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
}

.buttons {
  text-align: right;
  margin-bottom: 0;
}
